h1 {
    border: solid #cfcfc4 0.1em;
    border-radius: 0.5em;
    background-color: #cfcfc4;
    font-family: Bungee, sans-serif;
    font-size: 4em;
}

#getQuote {
    display: block;
    float: right;
    border: solid white 0.1em;
    border-radius: 0.5em;
    background-color: #222;
    font-family: Bungee, sans-serif;
    font-size: 1.5em;
    color: #cfcfc4;
    outline: none;
}

#getPerson {
    display: none;
    float: right;
    border: solid white 0.1em;
    border-radius: 0.5em;
    background-color: #222;
    font-family: Bungee, sans-serif;
    font-size: 1.5em;
    color: #cfcfc4;
    outline: none;
}

#quote {
    text-align: left;
}

#person {
    text-align: right;
}

#row {
    display: none;
}
#quote-with-person {
    border: solid #cfcfc4 0.1em;
    border-radius: 0.5em;
    background-color: #cfcfc4;
    font-family: Bungee, sans-serif;
    font-size: 1.5em;
}

#wiki {
    display: none;
    border: solid #cfcfc4 0.1em;
    border-radius: 0.5em;
    background-color: #cfcfc4;
    font-family: Bungee, sans-serif;
    font-size: 1.5em;
}