
body {
    background-color: #cfcfc4;
    margin-left: 17vw;
    margin-right: 17vw;
}

header {
    display: none;
}

section {
    background-color: #f3f3f0;
}

.messages {
    height: 59vh;
    overflow: scroll;
    margin-bottom: 5vh;
}

h1 {
    border: solid #e7e7e2 0.1em;
    border-radius: 0.5em;
    margin-bottom: 2vh;
    background-color: #e7e7e2;
    font-family: Bungee, sans-serif;
    font-size: 5vw;
    position: relative;
    left: 2vw;
    float: left;
    clear: both;
}

h1:before{
    content: "";
    position: absolute;
    right: 100%;
    top: 0.5em;
    width: 0;
    height: 0;
    border-top: 0.25em solid transparent;
    border-right: 0.5em solid #e7e7e2;
    border-bottom: 0.25em solid transparent;
}

.twitter-share-button {
    display: block;
    margin: auto;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 3vh;
    color: #222;
}

#getQuote {
    border: solid #222 0.1em;
    border-radius: 0.5em;
    margin-bottom: 2vh;
    background-color: #222;
    font-family: Bungee, sans-serif;
    font-size: 2vw;
    color: #e7e7e2;
    outline: none;
    position: relative;
    right: 2vw;
    float: right;
    clear: both;
}

#getQuote:before {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0.2em;
    width: 0;
    height: 0;
    border-top: 0.45em solid transparent;
    border-left: 1em solid #222;
    border-bottom: 0.45em solid transparent;
}

#getPerson {
    display: none;
    border: solid #222 0.1em;
    border-radius: 0.5em;
    margin-bottom: 2vh;
    background-color: #222;
    font-family: Bungee, sans-serif;
    font-size: 2vw;
    color: #e7e7e2;
    outline: none;
    position: relative;
    right: 2vw;
    float: right;
    clear: both;
}

#getPerson:before {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0.2em;
    width: 0;
    height: 0;
    border-top: 0.45em solid transparent;
    border-left: 1em solid #222;
    border-bottom: 0.45em solid transparent;
}

#quote {
    text-align: left;
}

#person {
    text-align: right;
    border-bottom: dashed #222 0.2vw;
    margin-bottom: 0;
}

#quote-with-person {
    display: none;
    border: solid #e7e7e2 0.1em;
    border-radius: 0.5em;
    width: 40vw;
    margin-bottom: 2vh;
    background-color: #e7e7e2;
    font-family: Bungee, sans-serif;
    font-size: 2vw;
    position: relative;
    left: 2vw;
    float: left;
    clear: both;
}

#quote-with-person:before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0.2em;
    width: 0;
    height: 0;
    border-top: 0.45em solid transparent;
    border-right: 1em solid #e7e7e2;
    border-bottom: 0.45em solid transparent;
}



#kb {
    position: fixed;
    bottom: 0;
    clear: both;
    background-color: #f3f3f0;
    border-top: 0.2vw solid #222;
}

#write {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    width: 65.5vw;
    height: 5vh;
    font: 1em/1.5 Helvetica, Sans-Serif;
    background-color: #f3f3f0;
    border: 0.5em solid #f3f3f0;
    border-bottom: 0.1em solid #222;
    outline: none;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 41vh;
}

#keyboard li {
    float: left;
    background-color: #222;
    color: #e7e7e2;
    margin: 0.25vw 0.25vw 0.25vw 0.25vw;
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
    font-size: 1.5vw;
    text-align: center;
    border: 1px solid #222;
    border-radius: 0.5em;
}
.capslock, .tab, .left-shift {
    clear: left;
}
#keyboard .tab, #keyboard .delete {
    width: 7vw;
}
#keyboard .capslock {
    width: 8vw;
}
#keyboard .return {
    width: 7.5vw;
}
#keyboard .left-shift {
    width: 9.5vw;
}
#keyboard .right-shift {
    width: 10.5vw;
}
.lastitem {
    margin-right: 0;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {
    clear: left;
    width: 65.5vw;
}
.on {
    display: none;
}

#mkb {
    display: none;
    position: fixed;
    bottom: 0;
    clear: both;
    background-color: #f3f3f0;
}



@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
      body{
          margin-left: 0;
          margin-right: 0;
      }

      header {
          display: block;
          font-family: Bungee, helvetica, sans-serif;
          font-size: 5vh;
          color: #222;
          text-align: center;
          position: relative;
      }

      .messages {
          height: 65vh;
      }

      h1{
          font-size: 7.5vw;
          left: 3vw;
      }

      #logo {
          display: inline-block;
          font-size: 5vh;
          margin: auto;
          line-height: 10vh;  
      }

      /*.fa-twitter {
          display: inline-block;
          position: absolute;
          right: 5vw;
          top: 2.5vh;
      }*/

      #quote-with-person {
          left: 5vw;
          width: 75vw;
      }

      #getQuote, #getPerson, #quote-with-person {
          font-size: 6vw;
      }

      #getQuote, #getPerson {
          right: 5vw;
      }

      #kb {
          display: none;
      }

      #mkb {
          display: block;
          border-top: 0.2vw solid #222;
      }

      #mkeyboard {
          margin: 0;
          padding: 0;
          list-style: none;
          height: 25vh;
          
      }

    #mkeyboard li {
        float: left;
        background-color: #222;
        color: #e7e7e2;
        margin: 0.5vw 0.5vw 0.5vw 0.5vw;
        width: 9vw;
        height: 9vw;
        line-height: 9vw;
        font-size: 6vw;
        text-align: center;
        border: 1px solid #222;
        border-radius: 0.5em;
    }

    #mkeyboard .capslock {
        width: 14vw;
    }

    #mkeyboard .space {
        /*clear: left;*/
        width: 60vw;
    }

    #mkeyboard .delete {
        width: 14vw;
    }

    #mkeyboard .return {
        width: 16vw;
    }

    #mkeyboard #a {
        margin-left: 5.5vw;
    }

    #mkeyboard .numbers {
        width: 16vw;
        margin-left: 4vw;
    }



      
      
}
