
body {
    background-color: #cfcfc4;
    margin-left: 17vw;
    margin-right: 17vw;
}

section {
    background-color: #f3f3f0;
}

.messages {
    height: 50vh;
    overflow: scroll;
}

h1 {
    border: solid #e7e7e2 0.1em;
    border-radius: 0.5em;
    margin-bottom: 2vh;
    background-color: #e7e7e2;
    font-family: Bungee, sans-serif;
    font-size: 5vw;
    position: relative;
    left: 2vw;
    float: left;
    clear: both;
}

h1:before{
    content: "";
    position: absolute;
    right: 100%;
    top: 0.5em;
    width: 0;
    height: 0;
    border-top: 0.25em solid transparent;
    border-right: 0.5em solid #e7e7e2;
    border-bottom: 0.25em solid transparent;
}

#getQuote {
    border: solid #222 0.1em;
    border-radius: 0.5em;
    margin-bottom: 2vh;
    background-color: #222;
    font-family: Bungee, sans-serif;
    font-size: 2vw;
    color: #e7e7e2;
    outline: none;
    position: relative;
    right: 2vw;
    float: right;
    clear: both;
}

#getQuote:before {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0.2em;
    width: 0;
    height: 0;
    border-top: 0.45em solid transparent;
    border-left: 1em solid #222;
    border-bottom: 0.45em solid transparent;
}

#getPerson {
    display: none;
    border: solid #222 0.1em;
    border-radius: 0.5em;
    margin-bottom: 2vh;
    background-color: #222;
    font-family: Bungee, sans-serif;
    font-size: 2vw;
    color: #e7e7e2;
    outline: none;
    position: relative;
    right: 2vw;
    float: right;
    clear: both;
}

#getPerson:before {
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0.2em;
    width: 0;
    height: 0;
    border-top: 0.45em solid transparent;
    border-left: 1em solid #222;
    border-bottom: 0.45em solid transparent;
}

#quote {
    text-align: left;
}

#person {
    text-align: right;
}

#quote-with-person {
    display: none;
    border: solid #e7e7e2 0.1em;
    border-radius: 0.5em;
    width: 40vw;
    margin-bottom: 2vh;
    background-color: #e7e7e2;
    font-family: Bungee, sans-serif;
    font-size: 2vw;
    position: relative;
    left: 2vw;
    float: left;
    clear: both;
}

#quote-with-person:before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0.2em;
    width: 0;
    height: 0;
    border-top: 0.45em solid transparent;
    border-right: 1em solid #e7e7e2;
    border-bottom: 0.45em solid transparent;
}

#kb {
    position: fixed;
    bottom: 0;
    height: 50vh;
    clear: both;
    background-color: #f3f3f0;
}

#write {
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    width: 65.5vw;
    height: 5vh;
    font: 1em/1.5 Helvetica, Sans-Serif;
    background-color: #f3f3f0;
    border: 0.5em solid #f3f3f0;
    border-bottom: 0.1em solid #222;
    outline: none;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

#keyboard li {
    float: left;
    background-color: #222;
    color: #e7e7e2;
    margin: 0.25vw 0.25vw 0.25vw 0.25vw;
    width: 4vw;
    height: 4vw;
    line-height: 4vw;
    font-size: 1.5vw;
    text-align: center;
    border: 1px solid #222;
    border-radius: 0.5em;
}
.capslock, .tab, .left-shift {
    clear: left;
}
#keyboard .tab, #keyboard .delete {
    width: 7vw;
}
#keyboard .capslock {
    width: 8vw;
}
#keyboard .return {
    width: 7.5vw;
}
#keyboard .left-shift {
    width: 9.5vw;
}
#keyboard .right-shift {
    width: 10.5vw;
}
.lastitem {
    margin-right: 0;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {
    clear: left;
    width: 65.5vw;
}
.on {
    display: none;
}
